.dealer_intro a:hover {opacity: 0.5;}
.dealer_intro .titles_dealer_intro {padding-top: 49px;}
.dealer_intro .titles_dealer_intro .arrow_step {margin: 6px 0 0 3px;}
.dealer_intro .main_h1 {font: 40px/1.2em "ACaslonProRegular","Times New Roman","Times";}
.dealer_intro .second_title {
	color: #595959;
	font-size: 18px;
	margin: 32px 0 21px 3px;
}
.dealer_intro .second_title a {
	color: #001676;
	font-size: 10px;
	line-height: 22px;
	margin: 3px 4px 0 0;
	text-decoration: underline;
	text-transform: uppercase;
}
@media (max-width: 991px) {
	.dealer_intro .main_h1 {font-size: 37px;}
	.dealer_intro .titles_dealer_intro {padding-top: 40px;}
}
@media (max-width: 767px) {
	.dealer_intro .main_h1 {font-size: 33px;}
	.dealer_intro .titles_dealer_intro {padding-top: 25px;}
}
@media (max-width: 550px) {
	.dealer_intro .main_h1 {font-size: 28px;}
	.dealer_intro .titles_dealer_intro {padding-top: 20px;}
	.dealer_intro .titles_dealer_intro .arrow_step {margin-top: 2px;}
}

.dealer_intro .recentry_listed {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0;
}
.dealer_intro .recentry_listed .wrapper_product {
	cursor: pointer;
	font: 13px/1.384615384615385em 'proxima_novaregular';
	letter-spacing: 0.005em;
	padding: 22px 8px;
	width: 20%;
}
.dealer_intro .recentry_listed .wrapper_product:hover {opacity: 0.5;}
.dealer_intro .recentry_listed .wrapper_product header, .dealer_intro .recentry_listed .wrapper_product footer {display: none;}
.dealer_intro .recentry_listed .box_product_item {margin-bottom: 0;}
.dealer_intro .recentry_listed .box_product_item .product_txt {height: auto;}
@media (max-width: 767px) {
	.dealer_intro .recentry_listed {justify-content: center;}
	.dealer_intro .recentry_listed .wrapper_product {
		position: relative;
		width: 33.3333333333333%;
	}
}
@media (max-width: 650px) {.dealer_intro .recentry_listed .wrapper_product {width: 50%;}}

.dealer_intro .bt_more {
	border: 1.000419px solid #0e1886;
	color: #0e1886;
	display: block;
	font: 18px/1em 'proxima_novaregular';
	letter-spacing: 0.1em;
	margin: 35px 0;
	padding: 21px 18px 18px;
	text-align: center;
	text-transform: uppercase;
	max-width: 408px;
}

@media (max-width: 600px) {.dealer_intro .bt_more {font-size: 16px; padding: 17px 13px 14px;}}

.dealer_intro .more_options_nav li {margin: 3px 22px 4px 0;}
.dealer_intro .more_options_nav .title {
	color: #999;
	font-family: 'proxima_novaregular';
	letter-spacing: 0.155em;
	text-transform: uppercase;
}
.dealer_intro .more_options_nav li a {
	color: #0e1886;
	font-size: 16px;
	letter-spacing: 0.1em;
}

.recentry_published {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 50px 0 0;
}
.recentry_published li {
	max-width: 155px;
	padding: 14px 3px;
	text-align: center;
}
.recentry_published li .name {
	font: 13px/1.2em 'proxima_novaregular';
	letter-spacing: 0.027em;
	margin: 28px 0 4px;
}
.recentry_published li .categ {
	color: #a2a1a1;
	font: 13px/1.2em 'proxima_novalight';
	letter-spacing: 0.027em;
}
@media (max-width: 400px) {.recentry_published li {width: 50%;}}