@media (min-width: 1200px) {
	.dealer_page {
		padding-left: 56px;
		padding-right: 56px;
	}
}



/* top_dealer_page */
.top_dealer_page {padding: 28px 0 2px;}
.top_dealer_page .main_h1 {font: 20px/1.2em 'proxima_novaregular', 'Open Sans', sans-serif;}
.top_dealer_page .drop_litra {
	display: inline-block;
	margin-left: 5px;
}
.top_dealer_page .drop_litra .dropdown-menu {font-size: 14px;}
.top_dealer_page .genres_nav a {
	color: #0e1886;
	display: block;
	margin: 4px 5px 4px 0;
}
.top_dealer_page .genres_nav .active a {font-family: 'proxima_novaregular', 'Open Sans', sans-serif;opacity: 1 !important;}
.top_dealer_page .genres_nav li:hover a {opacity: 0.5;}
.top_dealer_page .leading_dealers {
	color: #666;
	font: 11px/2em 'proxima_novaregular', 'Open Sans', sans-serif;;
	margin-top: 32px;
	text-transform: uppercase;
}
.top_dealer_page .leading_dealers .shop_link {
	color: #001676;
	font: 10px/2.2em 'proxima_novalight', 'Open Sans', sans-serif;;
	text-decoration: underline;
}
.top_dealer_page .leading_dealers .shop_link:hover {opacity: 0.5;}
/* END top_dealer_page */



/* lead_dealer_list */
.lead_dealer_list {
	margin: 0 -7px;
	text-align: center;
	width: auto;
}
.lead_dealer_list .wrapp_lead_dealer {
	height: 354px;
	display: inline-block;
	margin: 0 4px 35px;
	padding: 0;
	transition: height 350ms ease 0s;
	vertical-align: top;
}
.wrapp_lead_dealer.og-expanded .lead_dealer::before, .wrapp_lead_dealer.og-expanded .lead_dealer::after {
	border: solid transparent;
	border-bottom-color: #ddd;
	border-width: 15px;
	content: " ";
	height: 0;
	margin: -20px 0 0 -15px;
	position: absolute;
	left: 50%;
	top: auto;
	bottom: -13px;
	width: 0;
}
.wrapp_lead_dealer.og-expanded .lead_dealer::after {
	border-bottom-color: #fff;
	border-width: 14px;
	margin: -18px 0 0 -14px;
	z-index: 3;
}
.lead_dealer {
	border: 1px solid #ccc;
	cursor: pointer;
	display: block;
	margin: auto;
	padding: 14px 12px;
	position: relative;
	text-align: left;
	max-width: 255px;
}
.lead_dealer .box_img {
	display: block;
	position: relative;
}
.lead_dealer .wrapp_overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
}
.lead_dealer .wrapp_overlay .some_info {
	background-color: black;
	color: white;
	font-size: 8px;
	line-height: 2em;
	opacity: 0.7;
	margin-top: 17px;
	padding: 1px 15px 0;
	text-transform: uppercase;
}
.lead_dealer .wrapp_overlay .wrapp_company_name {
	background-image: linear-gradient(to top, black 0%, black 7%, rgba(0, 0, 0, 0.86) 29%, rgba(0, 0, 0, 0.86) 43%, transparent 93%, transparent 100%);
	color: white;
	font-variant: small-caps;
	letter-spacing: 0.07em;
	height: 93px;
	opacity: 0.8;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	text-align: center;
}
.lead_dealer .wrapp_overlay .company_name {
	font-size: 14px;
	line-height: 1.357142857142857em;
	margin: 45px 0 0;
}
.lead_dealer .wrapp_overlay .company_city {
	display: block;
	font-size: 10px;
}
.lead_dealer .wrapp_about_dealer {
	font-size: 13px;
	line-height: 1.692307692307692em;
}
.lead_dealer .wrapp_about_dealer .spec_in_title {
	color: #0e1886;
	font: 9px/1.2em 'proxima_novaregular', 'Open Sans', sans-serif;;
	margin: 18px 0 7px;
	text-transform: uppercase;
}
.lead_dealer .wrapp_about_dealer .genre_list {
	overflow: hidden;
	max-height: 66px;
}
.lead_dealer .wrapp_about_dealer .owner, .lead_dealer .wrapp_about_dealer .date_foumded {
	overflow: hidden;
	max-height: 22px;
}
.lead_dealer .wrapp_about_dealer .owner, .lead_dealer .wrapp_about_dealer .date_foumded {
	display: block;
	font-family: 'proxima_novaregular', 'Open Sans', sans-serif;
}
.lead_dealer .wrapp_about_dealer .owner {margin: 14px 0 5px;}
@media (max-width: 1199px) {.lead_dealer {max-width: 226px;}}
@media (min-width: 768px) and (max-width: 991px) {.lead_dealer {max-width: 232px;}}
/* END lead_dealer_list */



/*expander*/
@media (min-width: 992px) {.dealer_modal .modal-dialog {width: 950px;}}
@media (min-width: 1200px) {.dealer_modal .modal-dialog {width: 1100px;}}
/* .og-expander {
	background-color: white;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
	box-shadow: 0 -6px 26.2px 0.8px rgba(0, 0, 0, 0.09);
	height: 0;
	margin-top: 10px;
	overflow: auto;
	position: absolute;
	top: auto;
	left: 0;
	text-align: left;
	width: 100%;
} */
.og-expander {
	background-color: #fff;
	padding: 38px 50px;
	position: relative;
}
.og-expander a:hover {opacity: 0.5;}
.og-close {
	cursor: pointer;
	height: 40px;
	position: absolute;
	right: 20px;
	top: 20px;
	width: 40px;
}
.og-close::before,
.og-close::after {
	background: #888;
	content: '';
	height: 1px;
	position: absolute;
	top: 50%;
	transform: rotate(45deg);
	width: 100%;
}
.og-close::after {transform: rotate(-45deg);}
.og-close:hover::before, .og-close:hover::after {background: #333;}
.og-expander .left_arr, .og-expander .right_arr {
	color: black;
	cursor: pointer;
	font-size: 36px;
	opacity: 0.5;
	margin-top: -20px;
	position: absolute;
	top: 50%;
}
.og-expander .left_arr {left: 30px;}
.og-expander .right_arr {right: 30px;}
.og-expander .left_arr:hover, .og-expander .right_arr:hover, .og-expander .close:hover {opacity: 0.3;}
.og-expander .name_company {
	font: 26px 'ACaslonProRegular', 'Times New Roman', 'Times';
	margin: 16px 0 21px;
}
.og-expander .content_txt {
	color: #333;
	font-size: 17px;
	line-height: 26px;
	margin-bottom: 42px;
}
.og-expander .bt_transparent {
	border: 1px solid #0e1886;
	color: #0e1886;
	font: 12px/1.25em 'proxima_novaregular', 'Open Sans', sans-serif;
	padding: 10px;
	text-align: center;
	text-transform: uppercase;
}
.og-expander .box_img {
	display: block;
	margin: auto;
	position: relative;
	max-width: 310px;
}
.og-expander .help_txt {
	color: #666;
	font-size: 9px;
	line-height: 20px;
	margin-top: 4px;
	text-transform: uppercase;
}
.og-expander .book_name {
	font-size: 20px;
	line-height: 26px;
	margin: 7px 0 16px;
}
.og-expander .box_price {
	font-size: 15px;
	line-height: 24px;
}
.og-expander .box_price a {
	color: #0e1886;
	margin-left: 11px;
}
.og-expander .wrapp_recent {
	border-top: 1px solid #dbdbdb;
	margin-top: 20px;
	padding-top: 4px;
}
.og-expander .recent_listings {
	color: #333;
	font-size: 14px;
	line-height: 17px;
	margin-top: 18px;
}
.og-expander .recent_listings li {
	cursor: pointer;
	margin-bottom: 16px;
	padding-left: 16px;
	position: relative;
}
.og-expander .recent_listings li:hover {opacity: 0.5;}
.og-expander .recent_listings li::before {
	content: '\f105';
	font-family: 'FontAwesome';
	position: absolute;
	left: 0;
	top: 0;
}
@media (max-width: 599px) {
	.og-expander {padding: 38px 20px;}
	.og-expander .left_arr {left: 10px;}
	.og-expander .right_arr {right: 10px;}
}
@media (max-width: 499px) {.og-expander {padding: 38px 10px;}}
@media (max-width: 991px) {.og-expander .box_img {margin-top: 15px;}}
@media (min-width: 1200px) {.wrapp_feutur_listing{padding-right: 0;}}