.homepage .main_content {margin-top: 47px;}
.homepage .wrapp_carousel {padding-right: 8px;}
.homepage .wrapp_carousel .bx-wrapper {margin-bottom: 31px;}
.homepage .custom_paddings {
	margin-left: -4px;
	margin-right: -4px;
}
.homepage .custom_paddings > [class*="col-"] {
	padding-left: 4px;
	padding-right: 4px;
}
/*WELLCOME*/
.wrapp_wellcome {
	align-items: center;
	border: 1px solid #c9c9c9;
	display: flex;
	font-size: 15px;
	margin-bottom: 15px;
	padding: 13px 26px;
	line-height: 1.6em;
}
.wrapp_wellcome h1 {
	font: 33px/1.3em 'ACaslonProRegular', 'Times New Roman', 'Times';
	margin: 4px 0 34px;
	text-align: center;
}
.wrapp_wellcome .wellcome_txt {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	margin-bottom: 0;
	overflow: hidden;
}
.wrapp_wellcome .learn_more {
	color: #838383;
	font: italic 12px 'ACaslonProRegular', 'Times New Roman', 'Times';
}
.wrapp_wellcome .bt_bemember {
	background-color: #2e3192;
	border-radius: 0;
	color: #fff;
	font: 14px 'proxima_novasemibold', 'Open Sans', sans-serif;
	margin: 22px 0 30px;
    padding: 14px 10px;
}
.wrapp_wellcome .bt_bemember:hover {opacity: 0.5;}
.wrapp_wellcome .bt_bemember span {font-family: 'proxima_novaregular';}
.wrapp_wellcome .already_member_txt {
	color: #a3a3a3;
	font: 12px 'proxima_novaregular';
	letter-spacing: 0.022em;
	text-align: center;
}
.wrapp_wellcome .already_member_txt a {
	color: #2e3192;
	padding-left: 3px;
	text-decoration: underline;
}
@media (min-width: 1200px) {.wrapp_wellcome {height: 420px;}}
@media (min-width: 992px) {
	.wrapp_wellcome .wellcome_txt {
		-webkit-line-clamp: 5;
		max-height: 8em;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {.wrapp_wellcome {height: 370px;}}
@media (min-width: 768px) and (max-width: 991px) {
	.wrapp_wellcome {height: 283px;}
	.wrapp_wellcome .wellcome_txt {
		-webkit-line-clamp: 3;
		max-height: 4.5em;
	}
}
@media (max-width: 1199px) {
	.wrapp_wellcome {padding: 13px;}
	.wrapp_wellcome h1 {font-size: 28px; margin: 8px 0 4px;}
	.homepage .bx-wrapper {margin-bottom: 33px;}
}
@media (max-width: 767px) {.wrapp_wellcome .bt_bemember {margin: 20px 0;}}
/*END WELLCOME*/



/*TOP PRODUCTS*/
.top_products {margin-bottom: 26px;}
.top_products picture {
	display: block;
	margin: auto;
	max-width: 353px;
}
.top_products h1 {
	font: 16px 'proxima_novasemibold', 'Open Sans', sans-serif;
	letter-spacing: 0.01em;
	margin: 34px 0 11px 1px;
}
.top_products p {
	color: #6a6a6a;
	font-size: 14px;
	letter-spacing: 0.03em;
	line-height: 1.428571428571429em;
	margin-left: 1px;
}
.top_products .link_more {
	color: #2e3192;
	margin-left: 5px;
	text-decoration: underline;
}
.top_products .link_more .fa {font-size: 10px;}
@media (max-width: 767px) {
	.top_products {
		margin-bottom: 40px;
		text-align: center;
	}
	.top_products h1 {margin-top: 14px;}
}
/*END TOP PRODUCTS*/



.wrapp_new_featured {
	margin: 0 0 26px;
	text-align: center;
}
.wrapp_new_featured::after {
	border-top: 1px solid #acacac;
	content: '';
	position: absolute;
	top: 56%;
	left: 15px;
	right: 15px;
}
.new_featured_title {
	background-color: #fff;
	display: inline-block;
	font: 34px 'ACaslonProRegular', 'Times New Roman', 'Times';
	letter-spacing: 0.015em;
	padding: 0 36px;
	position: relative;
	z-index: 2;
}



/*recent_member_modal*/
.recent_member_modal .modal-dialog {
	background: url('../images/member_modal_bg.png') #fff -18px -14px no-repeat;
	background-size: 64%;
	border: 1px solid #b7b7b7;
	box-shadow: 0 5px 21.7px 13.3px rgba(0, 0, 0, 0.11);
	padding: 33px 73px 53px 58px;
}
.recent_member_modal button.close {
	position: absolute;
	right: 13px;
	top: 6px;
}
.recent_member_modal .recent_title {
	font: 12px 'proxima_novasemibold', 'Open Sans', sans-serif;
	margin-bottom: 45px;
	text-transform: uppercase;
}
.recent_member_modal .recent_member_list li {margin-bottom: 38px;}
.recent_member_modal .recent_member_list li:last-child {margin-bottom: 0;}
.recent_member_modal .recent_member_list .username {
	color: #0e1886;
	font: 14px 'proxima_novasemibold', 'Open Sans', sans-serif;
}
.recent_member_modal .recent_member_list .username .icon {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACkAAAApCAYAAACoYAD2AAABXklEQVRYR2NkYGD4BMS8QIwL/AVKqALxfTxqyJXiAmrsAmIePAa8ZARK/ifCBkOgmgtEqCNViQFQw3lCmkh1JBvQQJDvcYFvQIlfhCxFkqeJIw8BLbDF44gtQDnfgXYkKMr18TjiIFDOYdSReEIAlnGIDUllAtF+DSi/C4hpkiaJdWQD0AH1eDx9EerAUUfiCiRYxhkNSVwhRGrGGQ3J0ZBECoHRImi0MMeVIUhtT46G5GhIIoXAaN1NqMU/WncTCqHRImi0+4AlBEYzzmjGwRICNKtx5hIKbqB8GxDfBeJWIJbAox40htkCxOFA7IZH3QugXDUQg0Y6qgjZDyonHxBSBJT3AmLQ0Mg2INbCo/4EUC4CiAugGJdSkFkgM0FmgczEC4aMI0kZ6R1t9OKK89G6G09uGJ79blLmcfYBQ8cRTwhtAMoFAnEGEE/Ho24HUM4TiGWB+CYQc+JR+xoAQpQR5UnxeBAAAAAASUVORK5CYII=');
	background-size: cover;
	display: inline-block;
	height: 20.5px;
	margin-right: 10px;
	width: 20.5px;
}
.recent_member_modal .recent_member_list .recent_txt {
	font-size: 12px;
	letter-spacing: -0.02em;
	line-height: 1.416666666666667em;
	padding-top: 1px;
}
.recent_member_modal .wrapp_logo {
	border-bottom: 1px solid rgba(183,183,183,0.6);
	margin-bottom: 23px;
	padding: 32px 55px 9px;
}
.recent_member_modal .fellow_title {
	font: 21px/1.380952380952381em 'ACaslonProRegular', 'Times New Roman', 'Times';
	letter-spacing: 0.008em;
	text-align: center;
}
.recent_member_modal .form_create_acc {
	margin-top: 32px;
}
.recent_member_modal .form_create_acc .form-group {margin-bottom: 13px;}
.recent_member_modal .form_create_acc input {
	background-color: #ebebeb;
	font-size: 15px;
	height: 44px;
}
.recent_member_modal .form_create_acc .btn_submit {
	background-color: #040d6e;
	border-radius: 0;
	color: #fff;
	font-size: 15px;
	margin: -2px 0 17px;
	padding: 13px 6px;
}
.recent_member_modal .form_create_acc .btn_submit:hover {opacity: 0.5;}
.recent_member_modal .already_member {
	font: 13.655px/26.55px 'ACaslonProRegular', 'Times New Roman', 'Times';
	letter-spacing: 0.005em;
	margin-top: 37px;
	text-align: center;
}
.recent_member_modal .already_member a {text-decoration: underline;}
.recent_member_modal .already_member a:hover {text-decoration: none;}
@media (min-width: 1199px) {.recent_member_modal .recent_member_list {padding-right: 40px;}}
@media (min-width: 992px) {.recent_member_modal .modal-dialog {width: 800px;}}
@media (max-width: 991px) {.recent_member_modal .modal-dialog {padding: 20px 40px 30px;}}
@media (max-width: 767px) {
	.recent_member_modal .modal-dialog {padding: 10px 20px 30px;}
	.recent_member_modal .wrapp_logo {padding-top: 20px;}
}
@media (max-width: 450px) {.recent_member_modal .wrapp_logo {padding: 20px 25px 9px;}}
/*END recent_member_modal*/