.landing_item .images_wrapp {margin-top: 36px;}
.landing_item .images_wrapp picture {
	margin: auto;
	max-width: 398px;
}
.landing_item .images_wrapp picture, .landing_item .images_wrapp a {display: block;}
.landing_item .images_wrapp .thumbs_list {
	margin: 20px 0 33px;
	text-align: center;
}
.landing_item .images_wrapp .thumbs_list li {padding: 0 11px 20px;}



/*main content*/
.landing_item .main_content {padding-left: 20px;}
.landing_item .author_name {
	font-size: 24px;
	letter-spacing: 0.02em;
	margin: 78px 0 0;
	text-transform: uppercase;
}
.landing_item .main_h1 {
	font: 32px 'ACaslonProItalic', 'Times New Roman', 'Times';
	letter-spacing: 0.022em;
	margin: 7px 0 12px;
}
.landing_item .where_when_wrote {
	color: #7a7a7a;
	font-size: 13px;
	letter-spacing: 0.025em;
	line-height: 1.3em;
}
.landing_item .offered_by {
	border-bottom: 1px solid #bfbfbf;
	border-top: 1px solid #bfbfbf;
	font: 13px 'proxima_novasemibold', 'Open Sans', sans-serif;
    letter-spacing: 0.025em;
	margin: 31px 0 25px;
	padding: 16px 0 13px;
}
.landing_item .offered_by span {
	color: #8e8e8e;
	font: 14px 'ACaslonProItalic', 'Times New Roman', 'Times';
	letter-spacing: 0.018em;
	padding-right: 7px;
}
.landing_item .main_txt {
	font-size: 17px;
	letter-spacing: 0.025em;
	line-height: 1.529411764705882em;
	margin-bottom: 40px;
}
.landing_item .price {
	font-size: 24px;
	letter-spacing: 0.017em;
}
.landing_item .wrapp_buy_btn {margin: 21px 0 40px;}
.landing_item .buy_btn, .landing_item .offer_btn {
	border: 1px solid #2e3192;
	cursor: pointer;
	display: inline-block;
	font: 14px/1.3em 'proxima_novaregular', 'Open Sans', sans-serif;
	letter-spacing: 0.022em;
	margin: 0 7px 10px 0;
	padding: 11px 0 9px;
	text-align: center;
	text-transform: uppercase;
	width: 200px;
}
.landing_item .buy_btn:hover, .landing_item .offer_btn:hover {
	opacity: 0.5;
	transition: all .2s ease-in-out;
}
.landing_item .buy_btn {
	background-color: #2e3192;
	color: #fff;
}
.landing_item .offer_btn {
	background-color: #fff;
	color: #2e3192;
}
.landing_item .list_nav_product {
	border-bottom: 1px solid #bfbfbf;
	border-top: 1px solid #bfbfbf;
	margin: 0 0 40px;
	padding: 8px 0;
}
.landing_item .list_nav_product li:first-child {padding-right: 1px;}
.landing_item .list_nav_product li {margin: 3px 12px 3px 0;}
.landing_item .list_nav_product a {
	color: #000387;
	font: 12px/1.3em 'proxima_novaregular', 'Open Sans', sans-serif;
	letter-spacing: 0.03em;
}
.landing_item .list_nav_product a .fa {
	color: #b9b9b9;
	margin-right: 5px;
}
.landing_item .offered_company_title {
	font-size: 19px;
	letter-spacing: 0.025em;
	margin-bottom: 26px;
}
.landing_item .offered_company_txt {
	color: #737373;
	font-size: 16px;
	letter-spacing: 0.025em;
	line-height: 1.4375em;
}
.landing_item .product_list_content .see_more_txt {
	margin: 56px 0 16px 1px;
	letter-spacing: 0.025em;
}
.landing_item .product_list_content .see_more_txt a {
	color: #03008d;
	font-size: 11px;
}
/*END main content*/



/*product_list*/
.landing_item .product_list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0;
	text-align: center;
}
.landing_item .product_list .wrapper_product {
	cursor: pointer;
	font: 13px/1.384615384615385em 'proxima_novaregular';
	letter-spacing: 0.005em;
	padding: 22px 8px;
	width: 20%;
}
.landing_item .product_list a, .landing_item .product_list picture {display: inline-block;}
.landing_item .product_list .wrapper_product header, .landing_item .product_list .wrapper_product footer {display: none;}
.dealer_intro .recentry_listed .wrapper_product:hover {opacity: 0.5;}
.landing_item .product_list .box_product_item {margin-bottom: 0;}
.landing_item .product_list .box_product_item .product_txt {height: auto;}
@media (max-width: 767px) {
	.landing_item .product_list {justify-content: center;}
	.landing_item .product_list .wrapper_product {
		position: relative;
		width: 33.3333333333333%;
	}
}
@media (max-width: 650px) {.landing_item .product_list .wrapper_product {width: 50%;}}

.landing_item .product_list h4 {
	font: 11px 'proxima_novaregular', 'Open Sans', sans-serif;
	margin: 22px 0 6px;
}
.landing_item .product_list .describe_txt {
	-webkit-line-clamp: 3;
	color: #a2a1a1;
	font-size: 11px;
	line-height: 1.35em;
	margin: auto;
	max-height: 4.05em;
	max-width: 155px;
}
/*END product_list*/


/*modals*/
.offer_requst_modal .header_content {
	display: flex;
	justify-content: space-between;
}
.offer_requst_modal .modal_main_h1 {
	font: 26px/1em 'ACaslonProRegular', 'Times New Roman', 'Times';
	letter-spacing: 0.01em;
	margin: 0 0 19px;
}
.offer_requst_modal .modal-content {
	border-radius: 0;
	padding: 28px 30px 14px;
}
.offer_requst_modal .close {
	position: absolute;
	right: 15px;
	top: 10px;
}
.offer_requst_modal .form_to {
	color: #040d6e;
	font: 14px 'proxima_novaregular', 'Open Sans', sans-serif;
}
.offer_requst_modal .btn_submit {
	background-color: #040d6e;
	border-color: #040d6e;
}
.offer_requst_modal .btn_submit:hover {opacity: 0.5;}
.offer_modal .add_comments {height: 185px;}
.offer_modal .help_info {
	opacity: 0.9;
	font-size: 12px;
	margin-bottom: 3.5%;
	max-width: 58%;
	text-align: right;
}
@media (min-width: 600px) {.requst_modal .modal-dialog {width: 544px;}}
/*@media (min-width: 600px) {.requst_modal .modal-dialog {width: 544px;}}*/
@media (max-width: 600px) {.offer_requst_modal .modal-content {padding: 15px 15px 10px;}}
/*END modals*/