.main_wrapp_profile {padding-top: 40px;}
.main_wrapp_profile a:hover {opacity: 0.5;}
.main_wrapp_profile .profile_box {margin-bottom: 25px;}
.main_wrapp_profile .profile_box .box_edit_profile {
	font-size: 14px;
	line-height: 18px;
	letter-spacing: 0.07em;
}
.main_wrapp_profile .profile_box .box_edit_profile .fa {margin-right: 7px;}

.profile_set_nav a {
	color: #0e1886;
	display: inline-block;
	font-size: 12px;
	letter-spacing: -0.025em;
	line-height: 22px;
}
.profile_set_nav a .fa {
  color: #bebebe;
  font-size: 1em;
  margin: 0 9px 0 3px;
}

/*profile left side*/
.wrapp_profile_aside .profile_avatar {
	height: 237px;
	margin-bottom: 30px;
	width: auto;
}
.wrapp_profile_aside .profile_avatar img {max-height: 100%;}
.wrapp_profile_aside .profile_name {font-size: 14px;}
.wrapp_profile_aside .profile_since {font-size: 13px;}
.wrapp_profile_aside .profile_link {
	background-color: #f5f5f5;
	color: #4444b4;
	display: block;
	font: 10px Courier;
	margin: 28px 0 22px;
	padding: 4px 2px;
	text-align: center;
	word-break: break-all;
}
.wrapp_profile_aside .profile_link:hover {opacity: 0.5;}
.wrapp_profile_aside .edit_profile_txt.editable {font-size: 12px;}
/*END profile left side*/



@media (min-width: 1199px) {.profile_main_content {padding-left: 62px;}}
.profile_main_content .my_collection .box_edit_profile {min-height: 81px;}
.profile_main_content .want_listing .box_edit_profile {min-height: 70px;}
.profile_main_content .profile_small_title {
	font-size: 16px;
	letter-spacing: 0;
	margin: 27px 0 19px;
}
.profile_main_content .profile_list li {
	border: none;
	margin-bottom: 9px;
	padding: 0;
}
.profile_main_content .profile_list .title {
	font-size: 13px;
	line-height: 14px;
}
.wrapp_profile_catg .profile_small_title {margin-bottom: 46px;}


/* create listing modal */
.create_listing_modal a:hover {opacity: 0.5;}
.create_listing_modal .modal-dialog {background-color: #fff;}
.create_listing_modal .modal-content, .create_listing_modal .modal-header {
	border: none;
	border-radius: 0;
	box-shadow: none;
}
.create_listing_modal .modal-header {
	letter-spacing: 0.005em;
	padding: 0 0 24px;
}
.create_listing_modal .close {
	position: absolute;
	right: 17px;
	top: 17px;
}
.create_listing_modal .main_h1_modal {
	font: 22px/1.3em 'ACaslonProRegular', 'Times New Roman', 'Times';
	margin: 0;
}
.create_listing_modal .help_txt {
	color: #949494;
	font: 10px/13px 'proxima_novaregular', 'Open Sans', sans-serif;	
	margin-bottom: 0;
	text-align: right;
}
.create_listing_modal [href*="mailto"] {text-decoration: underline;}
.create_listing_modal .description {height: 135px;}
.create_listing_modal .btn_submit {
	font: 15px/1.3em 'proxima_novaregular', 'Open Sans', sans-serif;	
	text-transform: uppercase;
}
.create_listing_modal .bt_save_add {
	color: #040d6e;
	font: 13px/1.3em 'proxima_novaregular', 'Open Sans', sans-serif;	
	letter-spacing: 0.01em;
	margin: 0;
	text-align: center;
	text-decoration: underline;
}
@media (min-width: 992px) {
	.create_listing_modal .modal-lg {
		padding: 29px 56px;
		width: 800px;
	}
}
@media (max-width: 991px) {
	.create_listing_modal .modal-lg {padding: 25px;}
	.create_listing_modal .help_txt {margin-right: 20px;}
}
@media (max-width: 767px) {
	.create_listing_modal .help_txt {
		margin-top: 5px;
		text-align: left;
	}
}
/* END create listing modal */