/* SEARCH PAGE */
.src_main_h1 {
	color: #808080;
	font: 20px 'proxima_novalight';
	letter-spacing: 0.01em;
	margin: 33px 0 31px;
}
.src_main_h1 .src_words {
	color: #000;
	font-family: 'proxima_novaregular';
}
.tabs1 {
	border-bottom: 1px solid #acacac;
	margin: 0 0 9px;
}
.tabs1 li a {
	display: block;
	font: 17px 'ACaslonProRegular', 'Times New Roman', 'Times';
	letter-spacing: 0.03em;
	padding: 15px 15px 9px;
}
.tabs1 li a:hover, .tabs1 .active a, .tabs1 a[aria-expanded="true"] {
	background-color: #f7f7f7;
	color: #0e1886;
}
@media (max-width: 500px) {
	.tabs1 li a {
		font-size: 14px;
		padding: 10px 10px 8px;
	}
}
@media (max-width: 400px) {
	.tabs1 > li {padding: 0;}
	.tabs1 li a {
		font-size: 12px;
		padding: 8px 6px 6px;
	}
}

.box_src_filter {
	margin: 0 0 19px;
	text-align: right;
}
.src_listing {margin-left: -7px;}
/* END SEARCH PAGE */